<h1 class="mt-4">Consulta de Software</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Informações do Software</li>
</ol>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{mensagemSucesso}}
            </div>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
            {{mensagemErro}}
        </div>
    </div>

    <div class="row">
        <button class="btn btn-warning" (click)="novoCadastro()">
            <i class="fa fa-plus"></i>Novo
        </button>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome do Software</th>
                        <th>Nome do Módulo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let software of softwares">
                        <td>{{software.id}}</td>
                        <td>{{software.nomeSoftware}}</td>
                        <td>{{software.nome}}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/softwareForm/{{software.id}}"> 
                                <i class="fa fa-pen-square"></i>
                            </button>

                            <button class="btn btn-danger" (click)="preparaDelecao(software)" data-toggle="modal" data-target="#modalSelecao"> 
                                <i class="fa fa-trash"></i>
                            </button>                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="modalSelecao" class="modal fater" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="softwareSelecionado">
                    Confirma a deleção do usuário {{softwareSelecionado.nome}}?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarSoftware()" data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-danger"data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>        
    </div>
</div>

