<h1 class="mt-4">Software</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{software.id ? 'Edição' : 'Cadastro'}}</li>
</ol>

<div class="container">
    <form #usuarioForm="ngForm" (ngSubmit)="gravarSoftware()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="sucesso == true">
                    Software salvo/atualizado com sucesso!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert" *ngFor="let meuErro of errosApi">
                    {{ meuErro }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled=true [(ngModel)]="software.id" name="id">
                </div>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    <label>Software:</label>
                    <input type="text" class="form-control" [(ngModel)]="software.nomeSoftware" name="nomeSoftware">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Módulo:</label>
                    <input type="text" class="form-control" [(ngModel)]="software.nome" name="nome">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary" *ngIf="!software.id">
                    <i class="fa fa-save"></i>
                    Salvar
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="software.id">
                    <i class="fa fa-sync-alt"></i>
                    Atualizar
                </button>

                <button type="button" class="btn btn-danger ml-1" (click)="voltarListagem()">
                    <i class="fa fa-arrow-alt-circle-left"></i>
                    Voltar
                </button>
            </div>
        </div>

    </form>
</div>